{{!-- Hide header background on the home page --}}
<style>
  .header {
    background-color: transparent;
    box-shadow: none;
  }
</style>

<section class="section hero hero-large">
  <div class="hero-inner">
    <h1 class="hero-inner-home-heading">Hi. How can we help?</h1>
    <div class="hero-inner-search">
      {{search submit=false instant=settings.instant_search class="search search-full" placeholder="Search knowledge base..."}}
    </div>
    <p class="hero-inner-description" style="display:none"><strong><i class="fas fa-book"></i> Guides:</strong> getting started with <a
        href="/hc/en-us/articles/360014969032">Evoko Liso</a> or <a href="/hc/en-us/articles/360032926451">Evoko
        Pusco</a>?</p>
  </div>
</section>

<div class="div-block-93" style="width: 100%;
  height: 30px;
  max-width: 2650px;
  margin-top:-100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  background-image: linear-gradient(267deg, #d327ec, #d327ec 55%, #c0a634);"></div>
<div class="wrapperUno" >
  
  <div class="HelpContainer" style="">
    
		<div class="containerBadges">
      
      <div class="badges" style="margin-left: 15px; margin-right: 15px;margin-top:20px;">
        <div class="cardsimage">
          <img src="https://theme.zdassets.com/theme_assets/10335325/d25634f8eb5c3e01cadd68d63500c1bbdbda8ddb.png" loading="laze" class="badgeimage" width="auto" height="auto" style="overflow: visible;width:300px;">
          <h1 class="heading" style="font-size: 24px;font-weight:700;">FAQ</h1>
          <div class="badgestextdiv" style=" display: flex;width: 300px;height: 137px;margin-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;flex-direction: column;justify-content: flex-start;align-items: center;background-color: hsla(0, 0.00%, 0.00%, 0.22);">
            <p class="badgestextinside" style="  align-self: center;font-size: 18px;line-height: 18px;font-weight: 300;">Any questions about exploring Hivelly?</p></div>
          <a href="https://ethbits.zendesk.com/hc/en-us/categories/360000990891-FAQ" target="_blank" class="badgesbutton w-button" style="height:40px;display: flex;width: 100%;justify-content: center;align-items: center;border-top-style: solid;border-top-width: 2px;border-top-color: hsla(0, 0.00%, 100.00%, 1.00);border-right-style: solid;border-right-width: 2px;border-right-color: hsla(0, 0.00%, 100.00%, 1.00);border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: hsla(0, 0.00%, 100.00%, 1.00);border-left-style: solid;border-left-width: 2px;border-left-color: hsla(0, 0.00%, 100.00%, 1.00);background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.00);">Frecuently Asked Questions</a>
          </div>
      </div>
      
      <div class="badges" style="margin-left: 15px; margin-right: 15px;" >
        <div class="cardsimage" >
          <img src="https://theme.zdassets.com/theme_assets/10335325/f175830fae4117f835640fabb91f8cff58a2bc37.png" loading="laze" class="badgeimage" width="auto" height="auto" style="overflow: visible;width:300px;">
          <h1 class="heading" style="font-size: 24px;font-weight:700;">SUPPORT</h1>
          <div class="badgestextdiv" style=" display: flex;width: 300px;height: 137px;margin-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;flex-direction: column;justify-content: flex-start;align-items: center;background-color: hsla(0, 0.00%, 0.00%, 0.22);">
            <p class="badgestextinside" style="  align-self: center;font-size: 18px;line-height: 18px;font-weight: 300;">Contact Hivelly's 24/7 support team for smooth trading adventure.</p></div>
          <a href="https://ethbits.zendesk.com/hc/en-us" target="_blank" class="badgesbutton w-button" style="height:40px;display: flex;width: 100%;justify-content: center;align-items: center;border-top-style: solid;border-top-width: 2px;border-top-color: hsla(0, 0.00%, 100.00%, 1.00);border-right-style: solid;border-right-width: 2px;border-right-color: hsla(0, 0.00%, 100.00%, 1.00);border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: hsla(0, 0.00%, 100.00%, 1.00);border-left-style: solid;border-left-width: 2px;border-left-color: hsla(0, 0.00%, 100.00%, 1.00);background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.00);">Contact Support</a>
          </div>
      </div>
      
            <div class="badges" style="margin-left: 15px; margin-right: 15px;">
        <div class="cardsimage" >
          <img src="https://theme.zdassets.com/theme_assets/10335325/674850560dd68e0cac738ae6694be29bba7e47cf.png" loading="laze" class="badgetutorials" width="auto" height="auto" style="width: 300px;overflow: visible;height: 300px;">
          <h1 class="heading" style="font-size: 24px;font-weight:700;">TUTORIALS</h1>
          <div class="badgestextdiv" style=" display: flex;width: 300px;height: 137px;margin-bottom: 10px;padding-top: 10px;padding-right: 20px;padding-left: 20px;flex-direction: column;justify-content: flex-start;align-items: center;background-color: hsla(0, 0.00%, 0.00%, 0.22);">
            <p class="badgestextinside" style="  align-self: center;font-size: 18px;line-height: 18px;font-weight: 300;">Learn the basics of trading crypto, or immerse yourself in Copy Trading Topics. Always good to learn new skills!</p></div>
          <a href="https://ethbits.zendesk.com/hc/en-us/categories/360000990871-Guides" target="_blank" class="badgesbutton w-button" style="height:40px;display: flex;width: 100%;justify-content: center;align-items: center;border-top-style: solid;border-top-width: 2px;border-top-color: hsla(0, 0.00%, 100.00%, 1.00);border-right-style: solid;border-right-width: 2px;border-right-color: hsla(0, 0.00%, 100.00%, 1.00);border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: hsla(0, 0.00%, 100.00%, 1.00);border-left-style: solid;border-left-width: 2px;border-left-color: hsla(0, 0.00%, 100.00%, 1.00);background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.00);">Go to Tutorials Page</a>
          </div>
      </div>
      
      
		</div>  
	</div>
</div>

		
    
    
    
    
    
    {{!-- {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section> --}}

    {{!-- {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
      {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
    {{/if}} --}}

    {{!-- <section class="section activity">
      {{#if settings.show_recent_activity}}
      {{recent_activity}}
      {{/if}}
    </section> --}}
</div>